.wrapper {
  background-image: url(../../../../public/images/gradient.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 12vh;

  h1 {
    font-size: 10vh;
  }
  .movieHolder {
    display: flex;
    width: 81%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5vh 0;
  }
}
