.navbar {
  position: absolute;
  top: 0.5vw;
  left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 7vw;
  height: 100%;

  &:hover {
    opacity: 0.8;
  }

  .navbar-button {
    width: 4vw;
    height: 4vw;
    border-radius: 1em;

    img {
      width: 100%;
    }
  }

  .menu {
    position: absolute;
    transform: translateX(-100%);
    transition: all 2s;
  }
  .menu.open {
    transform: translateX(0);
  }
  li {
    display: flex;
    a {
      color: #7a0019;
    }
  }
}
